.wrapper {
  padding: 3rem;
  background-color: #ffffff;
  height: 100%;
  width: 90%;
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

@media screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
