.btnContainer {
  width: 50%;
}

.btn {
  width: 100%;
  padding: 1rem 0.75rem;
  border-radius: 5px;
  border: none;
  font-size: 0.85rem;
  font-weight: 700;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .btnContainer {
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 0.75rem;
  }
}
