.secondaryBtn {
  color: #ffffff;
  background-color: #878787;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  outline: none;
  width: 50%;
}

.btnContainer {
  width: 50%;
}

.btn {
  padding: 1rem 0.75rem;
  border-radius: 5px;
  border: none;
  font-size: 0.85rem;
  font-weight: 700;
  width: 100%;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .btnContainer {
    width: 100%;
  }

  .btn {
    width: 100%;
    font-size: 0.75rem;
  }
}
